######################################################
############### IMPORTS ##############################

#***************************************************
#************** Imports ****************************

importFrom(lme4, VarCorr)
importFrom(Hmisc, wtd.quantile)

########################################################
################  EXPORTS ##############################

export(quintfunct)
export(covainteraction)
export(zones.within.stratum)
